<h1>Campus</h1>

<p>To find or rate a fountain, find your building first.</p>

<%= image_tag('campus-maps/index.gif', :usemap => '#campus') %>

<map name="campus" id="campus">
  <area shape="rect" coords="663,614,955,751" href="/area/farsoutheast/" alt="Far Southeast Campus" title="Far Southeast Campus" />
  <area shape="rect" coords="501,615,660,751" href="/area/southeastcampus/" alt="Southeast Campus" title="Southeast Campus" />
  <area shape="rect" coords="419,251,586,494" href="/area/eastquad/" alt="East of the Quadrangles" title="East of the Quadrangles" />
  <area shape="rect" coords="744,253,916,494" href="/area/east/" alt="East Campus" title="East Campus" />
  <area shape="rect" coords="130,251,254,372" href="/area/westquad/" alt="West Campus" title="University Hospitals and West Campus" />
  <area shape="rect" coords="258,251,416,494" href="/area/mainquad/" alt="The Quadrangles" title="The Quadrangles" />
  <area shape="rect" coords="587,372,741,494" href="/area/labschool/" alt="Laboratory Schools" title="Laboratory Schools" />
  <area shape="rect" coords="2,2,252,245" href="/area/northwest/" alt="Northwest Campus" title="Northwest Campus" />
  <area shape="rect" coords="258,1,530,246" href="/area/north/" alt="North Campus" title="North Campus" />
  <area shape="rect" coords="259,536,495,751" href="/area/south/" alt="South Campus" title="South Campus" />
  <area shape="rect" coords="1,615,254,751" href="/area/southwest/" alt="Southwest Campus" title="Southwest Campus" />
  <area shape="poly" coords="250,378,248,487,18,489,15,254,126,257,124,375" href="http://www.uchospitals.edu/visitor/directions/" alt="University of Chicago Medical Center" />
</map>
